 body {
          color:#404040;
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          margin:0;
          padding:0;
          -webkit-font-smoothing:antialiased;
        }

        * {
          -webkit-box-sizing:border-box;
          -moz-box-sizing:border-box;
          box-sizing:border-box;
        }

        .sidebar {
          position:absolute;
          width:0;
          height:95%;
          top:5%;left:0;
          overflow:hidden;
          border-right:1px solid rgba(0,0,0,0.25);
        }
        .pad2 {
          padding:20px;
        }

        .map {
          position:absolute;
          left:0;
          width:100vw;
          top:5%;bottom:0;
        }

        h1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size:1.5vmax;
          margin:0;
          font-weight:400;
          line-height: 20px;
          padding: 20px 2px;
          color: #fff;
        }

        a {
          color:#f64c72;
          text-decoration:none;
        }

        a:hover {
          color:#553d67;
        }

        .heading {
          background:#fff;
          border-bottom:1px solid #eee;
          min-height:5vh;
          line-height:60px;
          padding:0 10px;
          background-color: #fff;
          color: #fff;
        }
        .info{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          position: absolute;
          width:33.3333%;
          height:10%;
          bottom: 0; left: 0;
          padding: 12px;
          line-height: 3vmin;
          border-right:1px solid rgba(116, 176, 231, 0.25);
          background-color: #553d67;
          overflow:auto;
          display:inline-block;
          font-size: 2vmin;
          overflow-wrap: break-word;
          color: white;
        }
        .page_header{
          position:absolute;
            height: 5%; 
            top:0; left: 0; 
            width:100%; 
            background: #553d67;
            margin-bottom: 0px;
            padding: 0px;
            box-sizing: border-box;
        }



        .page_header h1{
            margin:0px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
            font-size: 3.1vmin; color: #fff; 
            text-shadow: 2px 2px 2px #99738e;
            vertical-align: middle;
            padding: 0px;
        }
        .page_header h4{
          margin:0px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
          font-size: 0.9vmax; color: #f64c72;
        }

        .listings {
          height:100%;
          overflow:auto;
          padding-bottom:60px;
          background-color: #fff;
        }

        .listings .item {
          display:block;
          border-bottom:1px solid #f64c72;
          padding:10px;
          text-decoration:none;
        }

        .listings .item:last-child { border-bottom:none; }
        .listings .item .title {
          display:block;
          color:#2f2fa2;
          font-weight:700;
        }
        .listings .item .details {
          /* color:#f64c72; */
        }

        .listings .item .title small { font-weight:400; }
        .listings .item.active .title,
        .listings .item .title:hover { color:#553d67; }
        .listings .item.active {
          background-color:#f8f8f8;
        }
        ::-webkit-scrollbar {
          width:3px;
          height:3px;
          border-left:0;
          background:rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-track {
          background:none;
        }
        ::-webkit-scrollbar-thumb {
          background:#f64c72;
          border-radius:0;
        }


        .clearfix { display:block; }
        .clearfix:after {
          content:'.';
          display:block;
          height:0;
          clear:both;
          visibility:hidden;
        }

        /* Marker tweaks */
        .mapboxgl-popup {
          padding-bottom: 10px;
        }

       
        .mapboxgl-popup-content {
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          padding:0;
          width:195px;
        }
        .mapboxgl-popup-content-wrapper {
          padding:1%;
        }
        .mapboxgl-popup-content h3 {
          background:#1B1FA4 ;
          color:#fff;
          margin:0;
          display:block;
          padding:10px;
          border-radius:3px 3px 0 0;
          font-weight:700;
          margin-top:-15px;
        }

        .mapboxgl-popup-content h4 {
          margin:0;
          display:block;
          padding: 10px 10px 10px 10px;
          font-weight:400;
        }

        .mapboxgl-popup-content div {
          padding:10px;
        }

        .mapboxgl-container .leaflet-marker-icon {
          cursor:pointer;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
          margin-top: 3px;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
          border-bottom-color: #91c949;
        }
        .ui-autocomplete {
          border: 1px solid #ccc;
          width: 30%;
          border-radius: 3px;
          overflow: auto;
          max-height: 70%;
          background: rgba(27, 32, 164, 0.541);
         }
         .ui-autocomplete a {
           font-family: "Helvetica Neue Small", Helvetica, Arial, sans-serif;  
           color: white;
         }
         .openbtn {
          margin:0px;
          font-size: 15px;
          cursor: pointer;
          background-color: rgba(17, 17, 17, 0);
          color: white;
          padding: 0px 8px;
          border: none;
          vertical-align: top;
          margin-right: 4px;
          margin-left:3px;
        }
        
        .openbtn:hover {
          background-color: #99738e;
        }
        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 4px;
          font-size: 25px;
        }
