 body {
          color:#404040;
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          margin:0;
          padding:0;
          -webkit-font-smoothing:antialiased;
        }

        * {
          -webkit-box-sizing:border-box;
          -moz-box-sizing:border-box;
          box-sizing:border-box;
        }

        .sidebar {
          position:absolute;
          width:33.3333%;
          height:90%;
          top:0;left:0;
          overflow:hidden;
          border-right:1px solid rgba(0,0,0,0.25);
        }
        .pad2 {
          padding:20px;
        }

        .map {
          position:absolute;
          left:33.3333%;
          width:66.6666%;
          top:0;bottom:0;
        }

        h1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size:1.5vmax;
          margin:0;
          font-weight:400;
          line-height: 20px;
          padding: 20px 2px;
          color: #fff;
        }

        a {
          color:#627A30;
          text-decoration:none;
        }

        a:hover {
          color:#8d8741;
        }

        .heading {
          background:#fff;
          border-bottom:1px solid #eee;
          min-height:5vh;
          line-height:60px;
          padding:0 10px;
          background-color: #627A30;
          color: #fff;
        }
        .info{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          position: absolute;
          width:33.3333%;
          height:10%;
          bottom: 0; left: 0;
          padding: 12px;
          line-height: 3vmin;
          border-right:1px solid rgba(116, 176, 231, 0.25);
          background-color: rgba(190, 206, 164, 0.911);
          overflow:auto;
          display:inline-block;
          font-size: 2vmin;
          overflow-wrap: break-word;
        }
        .page_header{
            text-align: center; 
            height:8%; 
            top:0; left: 0; 
            width:100%; 
            background: linear-gradient(0deg, rgba(193,205,212,0.9335084375547094) 0%, rgba(255,255,255,1) 100%);
        }

        .page_header h1{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
            font-size: 2.5vmax; color: rgb(15, 15, 15); 
            text-shadow: 2px 2px 2px #998f82;
        }

        .listings {
          height:100%;
          overflow:auto;
          padding-bottom:60px;
          background-color: #e2e4e5e3;
        }

        .listings .item {
          display:block;
          border-bottom:1px solid #eee;
          padding:10px;
          text-decoration:none;
        }

        .listings .item:last-child { border-bottom:none; }
        .listings .item .title {
          display:block;
          color:#627A30;
          font-weight:700;
        }

        .listings .item .title small { font-weight:400; }
        .listings .item.active .title,
        .listings .item .title:hover { color:#8d8741; }
        .listings .item.active {
          background-color:#f8f8f8;
        }
        ::-webkit-scrollbar {
          width:3px;
          height:3px;
          border-left:0;
          background:rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-track {
          background:none;
        }
        ::-webkit-scrollbar-thumb {
          background:#627A30;
          border-radius:0;
        }


        .clearfix { display:block; }
        .clearfix:after {
          content:'.';
          display:block;
          height:0;
          clear:both;
          visibility:hidden;
        }

        /* Marker tweaks */
        .mapboxgl-popup {
          padding-bottom: 10px;
        }

       
        .mapboxgl-popup-content {
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          padding:0;
          width:195px;
        }
        .mapboxgl-popup-content-wrapper {
          padding:1%;
        }
        .mapboxgl-popup-content h3 {
          background:#bc986a ;
          color:#fbeec1;
          margin:0;
          display:block;
          padding:10px;
          border-radius:3px 3px 0 0;
          font-weight:700;
          margin-top:-15px;
        }

        .mapboxgl-popup-content h4 {
          margin:0;
          display:block;
          padding: 10px 10px 10px 10px;
          font-weight:400;
        }

        .mapboxgl-popup-content div {
          padding:10px;
        }

        .mapboxgl-container .leaflet-marker-icon {
          cursor:pointer;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
          margin-top: 3px;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
          border-bottom-color: #91c949;
        }
        .ui-autocomplete {
          border: 1px solid #ccc;
          width: 30%;
          border-radius: 3px;
          overflow: auto;
          max-height: 70%;
          background: rgba(190, 206, 164, 0.911);
         }
